
  hr {
    border-style: dotted none none;
    width: 10%;
    border-width: thick;
    border-color: aquamarine;
  }

  body {
    background-color: #F4DFD0;
  }


  h1 {color: #66bfbf }
  h3 {color: #66bfbf}
